    <div>
        <div style="background-color: rgb(79, 70, 229);" class="flex justify-between py-3">
            <div class="logo">
                <p class="text-3xl ml-32 text-white cursor-pointer">Roboknights</p>
            </div> 
            <div class="mr-32 flex items-center text-white">
                <a style="background-color: rgb(99 102 241)" class="px-4 py-2 mx-3 rounded-md" href="/">Home</a>
                <a style="background-color: rgb(99 102 241)" class="px-4 py-2 mx-3 rounded-md" href="/users/login">Login</a>
                <a style="background-color: rgb(99 102 241)" class="px-4 py-2 mx-3 rounded-md" href="/users/register">Register</a>
            </div>
        </div>

        <div class="flex bg-blue-200 justify-between mt-24 w-5/6 mx-auto rounded-xl">
            <div class="text-center ml-40 my-auto">
                <h1 class="text-5xl">Roboknights</h1>
                <h1 class="text-3xl">Lorem ipsum dolor sit amet.</h1>
            </div>
                <img style="width: 30rem;" class="m-10" src="/robotics.jpg" alt="alt">
        </div>

        <div class="mt-40 flex">
            <img style="width: 40%;" class="ml-20" src="/robotics1.jpg" alt="alt">
            <div class="px-40 mt-20">
                <h1 class="text-4xl text-center">Lorem Ipsum Dolor</h1>
                <p class="text-center text-2xl text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit voluptates magni deserunt odio officia architecto, dolorum nisi, commodi dolores atque sed. Fugiat suscipit voluptatum minus eum hic perspiciatis, recusandae nesciunt voluptate amet at atque ex quis itaque accusantium. Nisi, quasi architecto. Saepe qui rem praesentium voluptates nihil dolorum, iure fuga!</p>
            </div>
        </div>

        <div>
            <div class="ml-20 mt-20">
                <h1 class="text-4xl">Lorem Ipsum Dolor</h1>
            </div>
            <div  class="flex justify-around mt-20">
                <div class="w-1/5 p-8">
                    <img class="w-full h-92" src="/robot1.jpeg" alt="alt">
                    <div>
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, mollitia.</p>
                    </div>
                </div>
                <div class="w-1/5 p-8">
                    <img class="w-full h-92" src="/robot2.jpg" alt="alt">
                    <div>
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, mollitia.</p>
                    </div>
                </div>
                <div class="w-1/5 p-8">
                    <img class="w-full h-92" src="/robot3.jpg" alt="alt">
                    <div>
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, mollitia.</p>
                    </div>
                </div>
            </div>
            <div  class="flex justify-around mt-20">
                <div class="w-1/5 p-8">
                    <img class="w-full h-92" src="/robot4.jpg" alt="alt">
                    <div>
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, mollitia.</p>
                    </div>
                </div>
                <div class="w-1/5 p-8">
                    <img class="w-full h-92" src="/robot5.jpg" alt="alt">
                    <div>
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, mollitia.</p>
                    </div>
                </div>
                <div class="w-1/5 p-8">
                    <img class="w-full" style="height: 20rem;" src="/robot6.jpeg" alt="alt">
                    <div>
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, mollitia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
